body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u40 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1133px;
  top:8px;
  width:130px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
