body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u11 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1133px;
  top:18px;
  width:129px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:125px;
  top:369px;
  width:163px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:314px;
  top:369px;
  width:163px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:520px;
  top:369px;
  width:163px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:324px;
  top:549px;
  width:163px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:527px;
  top:549px;
  width:163px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:711px;
  top:549px;
  width:163px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:1039px;
  top:532px;
  width:179px;
  height:175px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
